[Unit]
Description=433 MHz weather station to Thingsboard
After=network.target

[Service]
User=%i
Group=%i
WorkingDirectory=/home/%i/workspace/rtl-thing
ExecStart=/home/%i/workspace/rtl-thing/rtl-thing
#Restart=on-failure
Restart=always
RestartSec=60s

[Install]
WantedBy=default.target

